<!--The content below is only a placeholder and can be replaced.-->
<header>
  <section class="header">
      <div class="overlay-parent  p-1">
          <div id="overlay"></div>
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-2">
                      <img class="wooliba-logo" src="assets/images/wooliba_icon.png">
                  </div>
                  <div class="col text-right">
                      <!-- Social media -->
                      <ul class="list-unstyled social-media header-style">
                          <li>
                              <a href="">
                                  <img src="assets/images/twitter.svg">
                              </a>

                          </li>
                          <li>
                              <a href="">
                                  <img src="assets/images/linkedin.svg">
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="assets/images/facebook.png" class="fb">
                              </a>
                          </li>
                      </ul>

                      <!--Langague -->
                      <div class="dropdown show d-inline lang">
                          <a class="btn  dropdown-toggle droppdown-lang" href="#" role="button"
                             id="dropdownMenuLink"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img src="assets/images/lang_fr.svg" style=" width: 20px;">
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">
                                  <img src="assets/images/lang_fr.svg" width="20px"> Fr
                              </a>

                              <a class="dropdown-item" href="#">
                                  <img src="assets/images/lang_en.svg" width="20px"> En
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="text-center container title-header">
          <h1 class="text-white title-wooliba">Trouvez le Parfait Equilibre entre Productivité et Bien-être</h1>
          <h5 class="text-white">Augmentez votre productivité et votre créativité en prenant quelques jours de télétravail à l’étranger</h5>
          <h5 class="text-white">Inscrivez-vous pour être parmi les premiers à recevoir nos offres</h5>
          <form class="form-inline mx-auto d-inline-flex mt-4">
              <div class="form-group form-group-mb mr-3 mb-2">
                  <input type="text" class="form-control fs-16 landing" id="inputPassword2"
                         placeholder="Entrez votre mail ici">
              </div>
              <button type="submit" class="btn btn-primary mb-2 btn-mobile  bg-wooliba-second fw-600">Inscrivez
                  vous
              </button>
          </form>
      </div>

  </section>
</header>
<div id="pattern">
  <section id="concept" class="bg-dark">
      <img id="ligne-header" src="assets/images/ligne.svg">
      <div class="container pr-0 pl-0" id="top-concept">
          <div class="row margin-zero-mobile">
              <div class="col-md-4 d-flex align-items-center">
                  <div class="col-3">
                      <img class="office-ico" src="assets/images/vacation.png" width="73">
                  </div>
                  <div class="col">
                      <p class="title-concept mb-2">Choisir votre destination</p>
                      <small class="sub-title-concept">Plusieurs séjours à thème seront proposées par destination.
                      </small>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center">
                  <div class="col-3">
                      <img class="trip-ico" src="assets/images/customize.svg" width="60px">
                  </div>
                  <div class="col">
                      <p class="title-concept mb-2">Personnaliser votre séjour</p>
                      <small class="sub-title-concept">Nos séjours sont personnalisables selon vos envies.
                      </small>
                  </div>
              </div>
              <div class="col-md-4 d-flex align-items-center">
                  <div class="col-3">
                      <img src="assets/images/experience.svg" width="83px" class="experience-ico">
                  </div>
                  <div class="col">
                      <p class="title-concept mb-2">Vivre l'expérience</p>
                      <small class="sub-title-concept">Trouvez votre bien être tout en augmentant votre productivité.
                      </small>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <div class="container-fluid sticky-header hidden-mobile">
      <div class="row align-items-center">
          <div class="col-7">
              <img class="wooliba-logo" src="assets/images/wooliba_icon.png">
              <form class="form-inline mx-auto d-inline-flex sticky-form ">
                  <div class="form-group form-group-mb mr-3 mb-2">
                      <input type="text" class="form-control landing fs-16" placeholder="Entrez votre mail ici"
                             style="width:250px">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2 btn-mobile  bg-wooliba-second fw-600">Inscrivez
                      vous
                  </button>
              </form>
          </div>
          <div class="col text-right">
              <!-- Social media -->
              <ul class="list-unstyled social-media header-style">
                  <li>
                      <a href="">
                          <img src="assets/images/twitter.svg">
                      </a>

                  </li>
                  <li>
                      <a href="">
                          <img src="assets/images/linkedin.svg">
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <img src="assets/images/facebook.png" class="fb">
                      </a>
                  </li>
              </ul>

              <!--Langague -->
              <div class="dropdown show d-inline lang">
                  <a class="btn  dropdown-toggle droppdown-lang" href="#" role="button"
                     id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="assets/images/lang_fr.svg" style=" width: 20px;">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">
                          <img src="assets/images/lang_fr.svg" width="20px"> Fr
                      </a>

                      <a class="dropdown-item" href="#">
                          <img src="assets/images/lang_en.svg" width="20px"> En
                      </a>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="container-fluid sticky-header show-mobile d-none-fullscreen">
      <div class="d-flex mx-auto align-items-center  pl-2">
          <div class="col-">
              <img class="wooliba-logo" src="assets/images/wooliba_icon.png">
          </div>
          <div class="col text-right ">
              <!-- Social media -->
              <ul class="list-unstyled social-media header-style">
                  <li>
                      <a href="">
                          <img src="assets/images/twitter.svg">
                      </a>

                  </li>
                  <li>
                      <a href="">
                          <img src="assets/images/linkedin.svg">
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <img src="assets/images/facebook.png" class="fb">
                      </a>
                  </li>
              </ul>

              <!--Langague -->
              <div class="dropdown show d-inline lang">
                  <a class="btn  dropdown-toggle droppdown-lang" href="#" role="button"
                     id="dropdownMenuLink"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="assets/images/lang_fr.svg" style=" width: 20px;">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">
                          <img src="assets/images/lang_fr.svg" width="20px"> Fr
                      </a>

                      <a class="dropdown-item" href="#">
                          <img src="assets/images/lang_en.svg" width="20px"> En
                      </a>
                  </div>
              </div>

          </div>
      </div>
      <div class="d-flex">
          <form class="form-inline mx-auto d-inline-flex mt-3 ">
              <div class="form-group  mr-3 mb-2 d-inline">
                  <input type="text" class="form-control landing fs-14 d-inline" placeholder="Entrez votre mail ici"
                         style="height: 31px; ">
              </div>
              <button type="submit" class="btn btn-primary mb-2 fs-14   bg-wooliba-second fw-600">Inscrivez vous
              </button>
          </form>
      </div>
  </div>
  <section class="proposons sep-section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 ">
                  <h1 class="title-section">Que <span class="font-weight-bold">proposons</span><br>
                      nous ?</h1>
                  <p class="para-section">Fatigué de la routine métro boulot dodo, envie d'aventure et de voyage sans consommer vos jours de congés.<br>
                  Wooliba vous offre la solution !<br>
                  Des séjours d’évasion et de dépaysement sur mesure avec une infrastructure permettant de conserver votre capacité de travail. <br>Nous mettons à votre disposition :
                  </p>
                  <!-- icon de nos proposons -->
                  <div class="row hidden-mobile ">
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/laptop.png" width="32" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Postes de travail</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/router.svg" width="29" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Internet Haut Débit</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/meet.svg" width="30" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">salles de réunion</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/sim.svg" width="30" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Carte SIM</p>
                          </div>
                      </div>
                  </div>

                  <div class="row hidden-mobile mt-3">
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/bed.svg" width="30" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Hébergement</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/canoe.svg" width="29" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Activités courtes</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/trip.png" width="37" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Excursions</p>
                          </div>
                      </div>
                      <div class="col-md-3 pl-0">
                          <div class="card text-center type">
                              <img src="assets/images/baby-stroller.svg" width="28" class="mx-auto mt-2">
                              <p class="icon-card mb-1 ">Garderies</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex-m show-mobile">
                      <div class="col-md-4 text-center d-inline-block " style=" width: 33.33%;">
                          <img src="assets/images/laptop.png" width="32" >
                          <p class="mt-2  mb-1 fs-14 " style=" line-height: 1;">Postes de travail</p>
                      </div>
                      <div class="col-md-4 text-center d-inline-block  " style=" width: 33.33%;">
                          <img src="assets/images/router.svg" width="29" >
                          <p class="mt-2 mb-1 fs-14" style=" line-height: 1;">Fibre obtique</p>
                      </div>
                      <div class="col-md-4 text-center d-inline-block " style=" width: 33.33%;">
                          <img src="assets/images/meet.svg" width="30" >
                          <p class=" mt-2 mb-1 fs-14"style=" line-height: 1;">salles de réunions</p>
                      </div>
                  </div>
                  <div class="d-flex-m show-mobile mt-2">
                      <div class="col-md-4 text-center d-inline-block " style=" width: 33.33%;">

                          <img src="assets/images/bed.svg" width="32" >
                          <p class="mt-2  mb-1 fs-14 " style=" line-height: 1;">Hébergement inclus </p>
                      </div>
                      <div class="col-md-4 text-center d-inline-block  " style=" width: 33.33%;">
                          <img src="assets/images/trip.png" width="29" >
                          <p class="mt-2 mb-1 fs-14 " style=" line-height: 1;">Activités adaptées</p>
                      </div>
                      <div class="col-md-4 text-center d-inline-block " style=" width: 33.33%;">
                          <img src="assets/images/baby-stroller.svg" width="30" >
                          <p class=" mt-2 mb-1 fs-14"style=" line-height: 1;">Des garderies</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-5 offset-1">
                  <img src="assets/images/bureau.png" id="bureau">
              </div>
          </div>
      </div>
  </section>
  <section class="sep-section adressons">
      <div class="container">
          <div class="row hidden-mobile">
              <div class="col-md-7">
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">Employé</h5>
                      <img class="img-horizental" src="assets/images/employer.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">Entrepreneur</h5>
                      <img class="img-horizental" src="assets/images/entrepreneur.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover ">Equipes</h5>
                      <img class="img-horizental" src="assets/images/equipe.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">
                          Toute personnes eligibile au télétravail
                      </h5>
                      <img class="img-horizental" src="assets/images/trust.jpg">
                  </div>
              </div>
              <div class="col-md-5">
                  <h1 class="title-section">A qui nous <br> nous<span
                          class="font-weight-bold"> adressons?</span>
                  </h1>
                  <p class="para-section">Que vous soyez entrepreneur, salarié, freelance ou en équipe, nous nous adressons à toute personne éligible à un mode d'organisation en télétravail !</p>
              </div>
          </div>
          <div class="row show-mobile">
              <div class="col-md-5">
                  <h1 class="title-section">A qui nous <br> nous<span
                          class="font-weight-bold"> adressons?</span>
                  </h1>
                  <p class="para-section">Que vous soyez entrepreneur, salarié, freelance ou en équipe, nous nous adressons à toute personne éligible à un mode d'organisation en télétravail !</p>
              </div>
              <div class="col-md-7">
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">Employé</h5>
                      <img class="img-horizental" src="assets/images/employer.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">Entrepreneur</h5>
                      <img class="img-horizental" src="assets/images/entrepreneur.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover team">Equipes</h5>
                      <img class="img-horizental" src="assets/images/equipe.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <h5 class="text-white text-cover">
                          Toute personnes eligibile au télétravail
                      </h5>
                      <img class="img-horizental" src="assets/images/trust.jpg">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="sep-section text-center container">
      <h1 class="title-section">Quel type d’aventure <br>
          <span class="font-weight-bold">nous proposons?</span>
      </h1>
      <p class="para-section">Wooliba vous propose des séjours à thème que vous pouvez personnaliser à votre goût :</p>
      <div class="row hidden-mobile mt-3">
          <div id="img1">
              <h3 class="text-white text-img1">Evénementiel</h3>
              <img class="img-size" src="assets/images/event.jpg">
          </div>
          <div id="img2">
              <h3 class="text-white text-img2">Découverte</h3>
              <img class="img-size" src="assets/images/decouverte.jpg" style=" width: 215px;">
          </div>
          <div id="img3">
              <h3 class="text-white text-img3">Orienté Activité</h3>
              <img class="img-size" src="assets/images/activiter.jpg" style=" width: 286px;">
          </div>
          <div id="img4">
              <h3 class="text-white text-img4">Détente</h3>
              <img src="assets/images/detente.jpg" style=" width: 286px;">
          </div>
          <div id="img5">
              <h3 class="text-white text-img5">Team Building</h3>
              <img class="img-size" src="assets/images/team_building.jpg" style=" width: 286px;">
          </div>
      </div>
      <div class="row show-mobile center mt-3">
          <div class="mr-2 ml-2">
              <h3 class="text-white text-img2">Découverte</h3>
              <img class="img-size" src="assets/images/decouverte.jpg">
          </div>
          <div class="mr-2 ml-2">
              <h3 class="text-white text-img3">Orienté Activité</h3>
              <img class="img-size" src="assets/images/activiter.jpg">
          </div>
          <div class="mr-2 ml-2">
              <h3 class="text-white text-img1">Evénementiel</h3>
              <img class="img-size" src="assets/images/event_m.jpg">
          </div>
          <div class="mr-2 ml-2">
              <h3 class="text-white text-img4">Détente</h3>
              <img class="img-size" src="assets/images/detente_m.jpg">
          </div>
          <div class="mr-2 ml-2">
              <h3 class="text-white text-img5">Team Building</h3>
              <img class="img-size" src="assets/images/team_building_m.jpg">
          </div>
      </div>
  </section>
  <section class="sep-section adressons">
      <div class="container">
          <div class="row hidden-mobile  ">
              <div class="col-md-6 offset-1 " style=" position: relative;">
                  <div class="img-cover d-inline">
                      <img class="exp1" src="assets/images/experience1.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <img class="exp2" src="assets/images/experience2.jpg">
                  </div>
                  <div class="img-cover d-inline">
                      <img class="exp3" src="assets/images/experience3.jpg">
                  </div>
              </div>

              <div class="col-md-5">
                  <h1 class="title-section"><span class="font-weight-bold"> Quel expérience</span><br>
                      vais-je vivre?</h1>
                  <p class="para-section">Travailler dans un cadre unique vous permettra de vous ressourcer et de retrouver l’inspiration.<br>
                  Faite des découvertes culinaires et culturelles, piquez une tête durant votre pause-café ou profitez du spa au déjeuner.<br>
                  Vivez des soirées à thème hors du commun.<br>
                  Transformez vos weekends en de vrais vacances avec des excursions et activités personnalisées.</p>
              </div>
          </div>
          <div class="row show-mobile  ">


              <div class="col-md-5">
                  <h1 class="title-section"><span class="font-weight-bold"> Quel expérience</span><br>
                      vais-je vivre?</h1>
                  <p class="para-section">Avec les séjours de Wooliba, tenez-vous prêt à :
                      travailler dans un cadre de vacances exceptionnel (plage,
                      montagne, lac ...) qui permet à chacun de se ressourcer.

                      Trouver l’équilibre parfait entre travail et vie personnelle
                      Profiter de chaque instant de votre temps libre</p>
              </div>
              <div class="col-md-6 offset-1 show-mobile center">
                  <div class="img-cover mr-3 ml-3 ">
                      <img src="assets/images/experience_m1.jpg">
                  </div>
                  <div class="img-cover mr-3 ml-3 ">
                      <img src="assets/images/experience_m2.jpg">
                  </div>
                  <div class="img-cover mr-3 ml-3 ">
                      <img src="assets/images/experience_m3.jpg">
                  </div>
              </div>
          </div>
      </div>

  </section>

  <footer>

      <div class="container pt-4 pb-4 position-relative ">
           <span class="footer-pattern">
          <img src="assets/images/wooliba_footer.png" alt="">
      </span>
          <div class="row">
              <div class="col-md-4 d-flex">
                  <div class="mx-auto">
                      <img src="assets/images/wooliba_logo.png" class="wooliba-footer">
                      <p class="para-footer">
                          Wooliba est le premier spécialiste de courts séjours adaptés au télétravail.
                      </p>
                      <p>Prenez des jours de télétravail, Choisissez une destination et nous nous occuperons du reste.
                      </p>
                  </div>
              </div>
              <div class="col-md-4 hidden-mobile d-flex">
                  <div class="mx-auto">
                      <h5 class="mt-3 text-uppercase footer-title">Souscrire</h5>
                      <p class="para-footer">Être averti de nos nouvelles offres</p>
                      <input type="text" value="" class="newsletter" placeholder="Adresse mail">
                      <a href="" class="btn btn-newsletter">
                          <img class="newsletter-send" src="assets/images/send-btn.png">
                      </a>
                  </div>
              </div>
              <div class="col-md-4 d-flex">
                  <div class="mx-auto">
                      <h5 class="mt-3 text-uppercase footer-title">Nous contacter</h5>
                      <p class="para-footer mb-0">Paris, France </p>
                      <p class="mb-0">contact@wooliba.com </p>
                      <ul class="list-unstyled social-media  op-5 show-mobile">
                          <li>
                              <a href="">
                                  <img src="assets/images/twitter.svg">
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="assets/images/linkedin.svg">
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="assets/images/facebook.png" style="    width: 9px;">
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <hr>
          <p class="text-left d-inline m-l-40 m-l-m-0">Tous droits réservés par Wooliba - 2019</p>
          
      </div>

  </footer>
</div>
<button class="material-scrolltop" type="button">

</button>



<router-outlet></router-outlet>
